{
	// A preset is some kind of code transformation plugin
	"presets": [
		// evn refers to the babel-preset-env package we installed
		[
			"env", {
				"targets": {
					// We tell babel what ES6+ features it needs to convert in order to support these browsers
					"browsers": [
						// In this case, it only needs to convert features that aren't supported by the last
						// 5 versions of a browser. This means it doesn't necessarily have to convert all ES6 features
						"last 5 versions",
						"ie >= 8"
					]
				}
			}
		]
	]
}